*,
* ::before,
* ::after{
    box-sizing: border-box;
}
html{
    box-sizing: inherit;
}
body{
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* headers ****************************************************************************** */
li {
    padding: 30px;

}

a {
    color: #f5f5f6;
    text-decoration: none;
}

.header-container {
   
    background-color: burlywood;
     position: fixed;
     top: 0;
     width: 100%;
}
/* .sticky{
   

} */
.main-nav {
 display: flex;
 font-size: 1.5em;
 list-style: none;
}

.push{
    margin-left: auto;
}
@media(max-width:600px){
    .main-nav{
        font-size: 0.5em;
        padding: 0;
    }

}

/* headers end **************************************************************************************** */

/* cover ***************************************************************************** */
.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f6;
     height: 50vh;
}


/* end cover ********************************* */
/*   main ********************************************************* */

.main-container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
}

.box{
    background-color: #444;
    padding: 5px;
    margin: 5px;

}
.grid {
    /*padding:30px 50px;*/
    /*cursor:pointer;*/
    color: #FFF;
    font-size: 2em;
    border-radius: 4px;
    border: 1px solid #bbb;
    transition: all 0.3s linear;
    background-image: linear-gradient(20deg, #ffc #ccd);
}

.grid:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}



/*  end main ************************* */
/* footer ********************************* */
.footer{
    text-align: center;
    font-size: 1.5em;
     background-color:burlywood;
     padding: 50px;
     color: #f5f5f6;
}

/* end footer */